.postItem {
    border: 1px solid gray;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.imageRow {
    margin-bottom: 20px;
}

.imageItem {
    position: relative;
    padding-bottom: 5px;
    height: 100%;

    img {
        width: 100%;
        min-height: 200px;
        height: 100%;
        object-fit: cover;
    }
}

.videoRow {
    margin-bottom: 20px;
}

.videoItem {
    position: relative;
    width: 100%;
    margin-right: 2%;
    video {
        max-width: 100%;
    }
}

.audioRow {
    margin-bottom: 20px;
}

.audioItem {
    position: relative;
    max-width: 40%;
    margin-right: 2%;

    audio {
        max-width: 100%;
    }
}

.postMessage {
    word-wrap: break-word;
}

.deleteMedia {
    display: block;
    position: absolute;
    color: red;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
  }

.editButton {

    margin-left: 10px;
}